/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    font-family: var(--main-font), sans-serif;
    background-image: var(--bg-image);
    background-size: cover;
    background-attachment: fixed;
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-variation-settings: "wght" var(--main-weight);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: var(--block-width);
    border: var(--border);
    padding: var(--header-padding-vertical) var(--header-padding-sides);
    line-height: 0.95;
    background-color: #fff;
}

.header__logo {
    font-family: var(--accent-font), sans-serif;
    font-weight: 400;
    font-size: var(--header-logo-size);
}

.header__title {
    font-family: var(--accent-font), sans-serif;
    font-size: var(--header-title-size);
    text-transform: uppercase;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 51.5px;
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--block-width);
    border: var(--border);
    overflow: hidden;
    font-family: var(--main-font);
    background-color: #fff;
}

.card__title {
    align-self: start;
    margin: 3.5px 10px;
    font-size: var(--main-font-size);
    font-variation-settings: "wght" var(--title-weight);
}

.container {
    position: relative;
    height: auto;
    border: var(--border);
}

.card__image {
    display: block;
    width: var(--block-width);
    height: auto;
    font-size: var(--main-font-size);
}

.image__label {
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 50%;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
    .image__label {
        text-shadow: none;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
    }
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    font-size: var(--main-font-size);
    line-height: 1.16;
}

.card__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}

.card__icon-button {
    display: flex;
    align-items: center;
    height: 38px;
    border: 2px solid #fff;
    padding: 0;
    background-color: transparent;
    transition: 0.3s ease;
}

.card__icon-button:focus-visible {
    border: var(--border);
    outline: none;
}

.card__like-button {
    padding: 10px 35px;
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 14px;
}

.save-button {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
    padding: 15px 18px;
}

.save__image {
    width: var(--floppy-size);
    height: var(--floppy-size);
}

.save__text {
    font-family: var(--accent-font);
    font-size: 14px;
    text-wrap: nowrap;
}